<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wasu.arcface">

    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- wifi internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".PermissionAcitivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DetecterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".TextureCameraActivity" />
        <activity android:name=".DetectionPermissionActivity" />
        <activity android:name=".CameraActivity"></activity>

        <service
            android:name=".CameraService"
            android:enabled="true" >
        </service>

    </application>

</manifest>